.carousel {
  background: url(./../../image/Violet_top_left_wave.png) no-repeat center
      bottom,
    url(./../../image/yellow_top_wave_01.png) no-repeat top left;
  background-size: 100%;
  min-height: 900px;
  .carousel__content {
    max-width: 1500px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 60px;
    .carousel__left {
      width: 50%;
      h5 {
        color: $color-pink;
        font-size: $size-5;
        font-weight: 600;
      }
      h1 {
        font-size: $size-9;
      }
    }

    .carousel__right {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 350px) {
  .carousel {
    .carousel__content {
      display: block;
      padding: 120px;
      .carousel__left {
        width: 100%;
        h5 {
          font-size: 20px;
          font-weight: 600;
        }
        h1 {
          font-size: 45px;
        }
      }

      .carousel__right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    .carousel__content {
      display: flex;
      padding: 80px;
      .carousel__left {
        width: 50%;
        h5 {
          font-size: 18px;
          font-weight: 600;
        }
        h1 {
          font-size: 40px;
        }
      }

      .carousel__right {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .carousel {
    .carousel__content {
      display: flex;
      padding: 100px 80px;
      .carousel__left {
        width: 50%;
        h5 {
          font-size: 25px;
          font-weight: 600;
        }
        h1 {
          font-size: 60px;
        }
      }

      .carousel__right {
        width: 50%;
        img {
          width: 110%;
        }
      }
    }
  }
}
