//COLOR
$color-pink: #b61984;
$color-white: #fff;
$color-black-1: #191919;
$color-black-2: #181818;

//SIZE
$size-0: 11.25px;
$size-1: 13px;
$size-2: 13.5px;
$size-3: 15px;
$size-4: 16.5px;
$size-5: 23.25px;
$size-6: 37.5px;
$size-7: 57px;
$size-8: 80px;

//PADDING, MARGIN
$pmd-0: 15px;
$pmd-1: 20px;
$pmd-2: 25px;
$pmd-3: 30px;
$pmd-4: 40px;
$pmd-5: 50px;
$pmd-6: 60px;
$pmd-12: 120px;

// //Col
// $cols: 12;
// @while $cols > 0 {
//   .col-#{$cols} {
//     width: 100% / $cols;
//   }
//   $cols: $cols - 1;
// }
